<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.twuni.money.wallet" android:versionCode="000200600" android:versionName="0.2.6">

	<application android:name=".application.WalletApplication" android:icon="@drawable/icon" android:label="@string/cash_in_hand" android:theme="@style/CashInHandTheme">

		<activity android:name=".activity.TreasuryListActivity" android:label="@string/cash_in_hand">

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

		</activity>

		<activity android:name=".activity.DepositActivity" android:label="@string/deposit">

			<intent-filter>
				<action android:name="org.twuni.money.action.DEPOSIT"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>

		</activity>

		<activity android:name=".activity.WithdrawActivity" android:label="@string/withdraw">

			<intent-filter>
				<action android:name="org.twuni.money.action.WITHDRAW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

		</activity>

		<activity android:name=".activity.QRReceiveActivity" android:label="@string/qr_code_scan" android:icon="@drawable/qrcode">

			<intent-filter>
				<action android:name="android.intent.action.RECEIVE"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>

		</activity>

		<activity android:name=".activity.PasteActivity" android:label="@string/paste_from_clipboard" android:icon="@drawable/clipboard">

			<intent-filter>
				<action android:name="android.intent.action.RECEIVE"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>

		</activity>

		<activity android:name=".activity.CopyActivity" android:label="@string/copy_to_clipboard" android:icon="@drawable/clipboard">

			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>

		</activity>

	</application>

	<uses-permission android:name="android.permission.INTERNET"/>

	<uses-sdk android:minSdkVersion="8"/>

</manifest>
